@using OnatrixUmbraco.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
	var formModel = new ServiceDetailFormViewModel();
}
<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model" />

<section class="py-16">
	<div class="max-w-7xl mx-auto px-4">
		<div class="flex flex-col sm:flex-row justify-between">

			<aside class="w-full sm:w-3/12 flex flex-col gap-4 mb-4 sm:mb-0">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>
			

			<div class="block w-px bg-border-gray">

			</div>

			<div class="w-full sm:w-8/12 flex flex-col gap-2 service-detail">
				<div class="rte">@Html.Raw(Model.ServiceDetailBody)</div>
			</div>

		</div>
	</div>
</section>

<partial name="Partials/Forms/_ServiceDetailForm" model="formModel"/>

<div class="max-w-7xl mx-auto px-4 flex items-center justify-center">
	@if (TempData["FormSuccess"] != null)
	{
		<div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
			@TempData["FormSuccess"]
		</div>
	}
	else if (TempData["FormError"] != null)
	{
		<div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
			@TempData["FormError"]
		</div>
	}
</div>


<partial name="Partials/Layout/_ContactProject" />