################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnatrixUmbraco/appsettings.json
/OnatrixUmbraco/appsettings.Development.json
