<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae197276-ab8a-4ee1-afda-e3da6aa44671" Alias="Brand List" Level="1">
  <Info>
    <Name>Brand List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e"
    }
  ]
}]]></Config>
</DataType>