<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0c947d0-0ebb-4b36-990f-b2eebac35c49" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "55251081-6d27-4a85-9097-512bdda5cb5f"
    },
    {
      "contentElementTypeKey": "a65385b4-dded-46a2-bd94-e9b227b4c0a1",
      "settingsElementTypeKey": "ef064172-8df7-41e5-bbfa-f31b27c7d886"
    },
    {
      "contentElementTypeKey": "ac006d04-a1f3-4f15-a060-954b42f64dc4"
    },
    {
      "contentElementTypeKey": "4bbfba6a-d38f-44bb-89da-2beabe3cb94f",
      "settingsElementTypeKey": "f4077e3c-2dc9-437a-8db8-b5d0bc48a997"
    }
  ]
}]]></Config>
</DataType>