<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e17eb54-6c6d-4504-9594-391e3b2660d0" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "897b9811-3bbd-4362-b552-1570fa24a191"
    },
    {
      "contentElementTypeKey": "612f0a25-2c85-4174-afaf-fe6905c894be"
    }
  ]
}]]></Config>
</DataType>