<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c72219ca-ca40-4559-8fa0-edd3b7a92f11" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c938cbfe-4f9d-480d-a828-8da79ba1fa64",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>