<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d041583b-a65c-428d-b2ae-8e4e42d37d38" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>