<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08b1f73f-47bc-47de-b251-6672568ffa0f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32a8de9f-d54c-450b-a8d3-47a296b46f79">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="879cc926-b298-4691-a1cb-04b19aeb10f3" SortOrder="0">contactPage</ContentType>
    <ContentType Key="2d05827d-9271-4425-9eaf-c3a11d5aacb5" SortOrder="1">servicePage</ContentType>
    <ContentType Key="0c9b46f1-bb81-4156-a43a-70e701490dfc" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>276e9196-73f1-4a39-952a-dd81f0d26386</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>e0c947d0-0ebb-4b36-990f-b2eebac35c49</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c7bd7162-4155-4fb4-9adf-4e2679ca53a3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>