<?xml version="1.0" encoding="utf-8"?>
<Media Key="b77b5561-bb11-4c8a-bf4b-b8a9400eff09" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="ec51caab-a080-460d-9aff-acdd713a0487">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T17:11:02</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/spunsvik/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>