<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf334f08-5561-4132-9938-dbe9592a0768" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="19f651cc-4928-436f-bfee-f44ccdf5cca0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:37:52</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5lzjcll0/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>