<?xml version="1.0" encoding="utf-8"?>
<Media Key="0920781b-1246-4e3e-a0a0-c5fd314eff68" Alias="background-map-contact.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgroundMapContactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T18:45:15</CreateDate>
    <NodeName Default="background-map-contact.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hcjf003/background-map-contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>