<?xml version="1.0" encoding="utf-8"?>
<Media Key="84f63f71-6786-4c83-927b-9320285df80d" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="ec51caab-a080-460d-9aff-acdd713a0487">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T17:11:02</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qobfizu3/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>