<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f6ab0d4-7dda-4191-845f-e0d198387092" Alias="brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T17:23:33</CreateDate>
    <NodeName Default="brands" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>