<?xml version="1.0" encoding="utf-8"?>
<Media Key="f29db297-e11b-4b7d-a45e-89fa1d7cd82c" Alias="business-planning.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessPlanningjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T17:43:34</CreateDate>
    <NodeName Default="business-planning.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/db2nwrds/business-planning.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>