<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdc4d1ff-0b41-40d5-9872-adccd247ab9e" Alias="fossil-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/fossilBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:53</CreateDate>
    <NodeName Default="fossil-brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bvwgml00/fossil-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>