<?xml version="1.0" encoding="utf-8"?>
<Media Key="c062e35a-c9a9-45ad-98a9-4213cdef8e8c" Alias="freedom-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/freedomBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:54</CreateDate>
    <NodeName Default="freedom-brand.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vbpmaivs/freedom-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>