<?xml version="1.0" encoding="utf-8"?>
<Media Key="769ba20d-6251-4a7d-b0d5-c116b8774ec4" Alias="globe-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/globeBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:54</CreateDate>
    <NodeName Default="globe-brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52pdtfck/globe-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>