<?xml version="1.0" encoding="utf-8"?>
<Media Key="3691e88e-f26e-4b59-9d5b-c75bb21b8cfb" Alias="hero-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T12:44:03</CreateDate>
    <NodeName Default="hero-background.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/prkdhvdv/hero-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>