<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce370950-e021-4693-9943-0aff4bf8d3f7" Alias="identity-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/identityBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:54</CreateDate>
    <NodeName Default="identity-brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uk0jklb0/identity-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>