<?xml version="1.0" encoding="utf-8"?>
<Media Key="1014594e-5f5f-446d-915b-3f826b32b68f" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="ec51caab-a080-460d-9aff-acdd713a0487">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T17:11:02</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xtsln2se/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>