<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffe8aab4-6637-4df9-a507-81d6d43c265b" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T20:03:17</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iylfuhjm/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>