<?xml version="1.0" encoding="utf-8"?>
<Media Key="07d79e53-e651-4cd6-a5d0-746b16cf36d5" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="ec51caab-a080-460d-9aff-acdd713a0487">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T17:11:01</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uerhlzkk/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>