<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fb92740-77bf-4f72-8755-47154a4a742e" Alias="natural-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/naturalBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:54</CreateDate>
    <NodeName Default="natural-brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wknbxdne/natural-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>