<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddd8f712-a395-4920-842e-fa2a3d9c9149" Alias="next-project-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T14:48:20</CreateDate>
    <NodeName Default="next-project-background.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bfhup2o/next-project-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>