<?xml version="1.0" encoding="utf-8"?>
<Media Key="83dbc94f-b4e3-4fa6-9c8b-bd150419c21c" Alias="next-project-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T14:48:20</CreateDate>
    <NodeName Default="next-project-img.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xv0hsypy/next-project-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>