<?xml version="1.0" encoding="utf-8"?>
<Media Key="904db982-ed9d-4851-b226-007618fc2940" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T20:06:18</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oaco42ug/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>