<?xml version="1.0" encoding="utf-8"?>
<Media Key="6af9f5c2-2fe8-41c8-a762-b3b73034fb60" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="19f651cc-4928-436f-bfee-f44ccdf5cca0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:37:52</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbefxcht/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>