<?xml version="1.0" encoding="utf-8"?>
<Media Key="19f651cc-4928-436f-bfee-f44ccdf5cca0" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T20:33:47</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>