<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8cafd6e-cf01-4a3d-85e1-dda282083dd6" Alias="service-detail-body.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceDetailBodysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T22:33:41</CreateDate>
    <NodeName Default="service-detail-body.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tragqcq0/service-detail-body.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>