<?xml version="1.0" encoding="utf-8"?>
<Media Key="e510d625-8348-410c-9bfd-d869ed5e3182" Alias="simple-brand.svg" Level="2">
  <Info>
    <Parent Key="8f6ab0d4-7dda-4191-845f-e0d198387092">brands</Parent>
    <Path>/brands/simpleBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:23:54</CreateDate>
    <NodeName Default="simple-brand.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03vleb0t/simple-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>