<?xml version="1.0" encoding="utf-8"?>
<Media Key="7449557e-d77e-4e6c-a1fb-6710bf80c9b6" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="19f651cc-4928-436f-bfee-f44ccdf5cca0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:37:51</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rtuoxftf/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>