<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2488a3e-f6b1-4d23-bf4f-2f1857543601" Alias="success-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:07:45</CreateDate>
    <NodeName Default="success-bg.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zq1puufk/success-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>