<?xml version="1.0" encoding="utf-8"?>
<Media Key="0094415d-fc7d-4518-b0c8-51361571c49a" Alias="success-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:07:45</CreateDate>
    <NodeName Default="success-img.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v54dnytg/success-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>