<?xml version="1.0" encoding="utf-8"?>
<Media Key="6de5a79a-ec5e-40dd-a3c7-3d6a1d143037" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="19f651cc-4928-436f-bfee-f44ccdf5cca0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:37:51</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nanepd0f/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>