<?xml version="1.0" encoding="utf-8"?>
<Media Key="cae2a12d-38cc-4ce4-a645-26efc130f1d8" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="ec51caab-a080-460d-9aff-acdd713a0487">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T17:11:01</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/12oeakgx/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>