<?xml version="1.0" encoding="utf-8"?>
<Media Key="d59ead7f-16b1-4016-aebb-7ce873f6502f" Alias="tina.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:15:56</CreateDate>
    <NodeName Default="tina.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ruidyn3k/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>