<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6f6110a-8339-4fad-a9b9-e45c63cabfa7" Alias="trusted-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustedImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T15:16:51</CreateDate>
    <NodeName Default="trusted-img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5cwfijbc/trusted-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>