<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a7877a9-2a18-487a-a302-8a652ff93706" Alias="2025-11-15 21:34 - asdasd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asdasd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T21:34:00</CreateDate>
    <NodeName Default="2025-11-15 21:34 - asdasd" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[asd@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asdasd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[testefter@sdfsd.comsdf]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>