<?xml version="1.0" encoding="utf-8"?>
<Content Key="874ec5aa-9a0b-47e0-9294-1a37060ef69b" Alias="2025-11-16 17:48 - testfråga" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/testfraaga</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T17:48:39</CreateDate>
    <NodeName Default="2025-11-16 17:48 - testfråga" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[albinjorgensen@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[testfråga]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>