<?xml version="1.0" encoding="utf-8"?>
<Content Key="e530f8b4-1fed-4b16-9d60-a0a1503dd52c" Alias="2025-11-12 21:01 - John Doe" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/JohnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T21:01:08</CreateDate>
    <NodeName Default="2025-11-12 21:01 - John Doe" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Albin@asdoas.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[213424]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>