<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e4d17d0-2a4e-44b8-898c-739722704cc2" Alias="2025-11-15 17:48 - asddas" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asddas</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:48:47</CreateDate>
    <NodeName Default="2025-11-15 17:48 - asddas" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[asddasdas3123@hotmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[asddas]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[asd]]></Value>
    </formQuestion>
  </Properties>
</Content>