<?xml version="1.0" encoding="utf-8"?>
<Content Key="366138ad-5b4c-43da-bb5e-30da7c4762b7" Alias="2025-11-15 19:03 - test" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T19:03:35</CreateDate>
    <NodeName Default="2025-11-15 19:03 - test" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Test@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>