<?xml version="1.0" encoding="utf-8"?>
<Content Key="afd892ff-cce4-4baf-bc61-7d09ae932746" Alias="2025-11-15 17:47 - asd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asd</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:47:58</CreateDate>
    <NodeName Default="2025-11-15 17:47 - asd" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[albinjorgensen@hotmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[asd]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[testfråganr23]]></Value>
    </formQuestion>
  </Properties>
</Content>