<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3b1e6ca-5ca5-45cd-b5e8-897b351af6ad" Alias="2025-11-12 20:41 - Albin" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/Albin</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T20:41:03</CreateDate>
    <NodeName Default="2025-11-12 20:41 - Albin" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Albin@domain.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Albin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12313]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>