<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfba040b-796a-42ad-89d7-0cfa3629317b" Alias="2025-11-15 17:53 - test" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:53:23</CreateDate>
    <NodeName Default="2025-11-15 17:53 - test" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[Test123123@hotmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[test]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[test123]]></Value>
    </formQuestion>
  </Properties>
</Content>