<?xml version="1.0" encoding="utf-8"?>
<Content Key="90a08fde-ce4f-4cd9-8030-710bb941a66a" Alias="2025-11-15 18:25 - asd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asd</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T18:25:36</CreateDate>
    <NodeName Default="2025-11-15 18:25 - asd" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[admin@domain.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[asd]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[asd]]></Value>
    </formQuestion>
  </Properties>
</Content>