<?xml version="1.0" encoding="utf-8"?>
<Content Key="4500f9bd-5747-44c2-8c80-c750610cfcb6" Alias="2025-11-15 21:34 - asddas" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asddas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T21:34:43</CreateDate>
    <NodeName Default="2025-11-15 21:34 - asddas" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[albinjorgensen@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asddas]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>