<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2da32f1-bc04-4d26-9aa7-bd2b7ab9c0ff" Alias="2025-11-15 21:37 - asd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T21:37:48</CreateDate>
    <NodeName Default="2025-11-15 21:37 - asd" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[admin@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>