<?xml version="1.0" encoding="utf-8"?>
<Content Key="f47b58e4-31d7-4ed6-8d9d-649327a8922f" Alias="2025-11-15 17:49 - sdffsd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/sdffsd</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:49:03</CreateDate>
    <NodeName Default="2025-11-15 17:49 - sdffsd" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[sdffsddsf.@hotmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[sdffsd]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[sdfsf]]></Value>
    </formQuestion>
  </Properties>
</Content>