<?xml version="1.0" encoding="utf-8"?>
<Content Key="b93fbc5c-2d10-4d25-b116-76cb9f5a86e5" Alias="2025-11-16 16:23 - asd" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/asd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T16:23:46</CreateDate>
    <NodeName Default="2025-11-16 16:23 - asd" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Albin@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>