<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1f83508-4fa6-4a86-9725-71250af5ce06" Alias="2025-11-15 17:41 - test" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:41:48</CreateDate>
    <NodeName Default="2025-11-15 17:41 - test" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[admin@domain.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[test]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[testsetssettsetfråga]]></Value>
    </formQuestion>
  </Properties>
</Content>