<?xml version="1.0" encoding="utf-8"?>
<Content Key="a044847f-49c0-4ad5-8a8d-02ccbfffefe4" Alias="2025-11-15 17:56 - testfrdev" Level="2">
  <Info>
    <Parent Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b">Form Submissions</Parent>
    <Path>/FormSubmissions/testfrdev</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailRequest</ContentType>
    <CreateDate>2025-11-15T17:56:52</CreateDate>
    <NodeName Default="2025-11-15 17:56 - testfrdev" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[testfrdev@dpo.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[testfrdev]]></Value>
    </formName>
    <formQuestion>
      <Value><![CDATA[testfrdev]]></Value>
    </formQuestion>
  </Properties>
</Content>