<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba7e4c07-2d80-4e6d-be38-ecddb8e0119a" Alias="About" Level="2">
  <Info>
    <Parent Key="b4342854-4a84-4f23-af37-f79a5f0112f4">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-02T17:13:25</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dd64d37b-106b-4c2a-a380-ab993a9618d8">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ac006d04-a1f3-4f15-a060-954b42f64dc4",
      "key": "cfea29c7-d875-42ad-9be2-2df2818231a6",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "5ca06b2b-f2b8-4d4f-a73f-3180864158b7",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b1822d35-98cf-4c93-8e15-682b2d2be24d",
                        "mediaKey": "84f63f71-6786-4c83-927b-9320285df80d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "deae735d-da03-43fd-a582-49f61cda3b12",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "85086d1e-02cd-4e80-93c2-8ba2f64ef982",
                        "mediaKey": "8f11a8b5-4bd8-4f91-9a35-9a882126fa8b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "8d73b059-ec95-4b43-955e-b2e67c56c403",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a9c036ad-17e6-4261-9012-9bd8f2fae2e6",
                        "mediaKey": "b77b5561-bb11-4c8a-bf4b-b8a9400eff09",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "08b36aa5-a28a-4481-8781-0cfdb04d19cc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "86cc3c70-af12-4621-aad8-670002cb3b33",
                        "mediaKey": "cae2a12d-38cc-4ce4-a645-26efc130f1d8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "4cea8449-fae4-4e3a-830f-23c46b2e5dd1",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "44514ca7-ff37-4075-b44d-d2a793b5fafe",
                        "mediaKey": "d4d0dcde-b8a8-4431-b1ea-25cd896f6c57",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "c22618dc-5eb2-4703-a055-4f2a781b6b69",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5ea083af-b06b-4d7c-a566-dbd84ad9f5a9",
                        "mediaKey": "07d79e53-e651-4cd6-a5d0-746b16cf36d5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4f50f79f-82b0-48c0-afca-1cfd8f70e9a6",
                "key": "7ca6601b-b68c-47d2-bee6-6bb85c95d373",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a3e71df4-90fc-4c8e-8df1-0f7a39fa2253",
                        "mediaKey": "1014594e-5f5f-446d-915b-3f826b32b68f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5ca06b2b-f2b8-4d4f-a73f-3180864158b7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "deae735d-da03-43fd-a582-49f61cda3b12",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8d73b059-ec95-4b43-955e-b2e67c56c403",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "08b36aa5-a28a-4481-8781-0cfdb04d19cc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4cea8449-fae4-4e3a-830f-23c46b2e5dd1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c22618dc-5eb2-4703-a055-4f2a781b6b69",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7ca6601b-b68c-47d2-bee6-6bb85c95d373",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5ca06b2b-f2b8-4d4f-a73f-3180864158b7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "deae735d-da03-43fd-a582-49f61cda3b12",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8d73b059-ec95-4b43-955e-b2e67c56c403",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "08b36aa5-a28a-4481-8781-0cfdb04d19cc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4cea8449-fae4-4e3a-830f-23c46b2e5dd1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c22618dc-5eb2-4703-a055-4f2a781b6b69",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7ca6601b-b68c-47d2-bee6-6bb85c95d373",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cfea29c7-d875-42ad-9be2-2df2818231a6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cfea29c7-d875-42ad-9be2-2df2818231a6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>