<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6174974-7c23-46a3-bf00-2c690dca0d84" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b4342854-4a84-4f23-af37-f79a5f0112f4">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-02T14:34:52</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d31f4e4-d1ce-4280-84b6-d0a3749f1d47">ContactPage</Template>
  </Info>
  <Properties>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "50066aae-b154-4506-ad7a-ef5f55068eb9",
    "mediaKey": "ddd8f712-a395-4920-842e-fa2a3d9c9149",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactOfficeLocation>
    <contactPersonImage>
      <Value><![CDATA[[
  {
    "key": "d066f33a-b04c-438a-9061-671112f5c5b9",
    "mediaKey": "83dbc94f-b4e3-4fa6-9c8b-bd150419c21c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactPersonImage>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <contactTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactTitle>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1279729b-b40c-43f2-b7e1-013f4492645a",
      "key": "b0c6656b-a461-4107-88a3-bd62cae2b3f7",
      "udi": null,
      "values": [
        {
          "alias": "brands",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "56d6e3fc-5d47-4f4a-9ad4-5bb659bc0472",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "aeac4ad1-3a81-4802-b6e1-e1d1b2a4e216",
                        "mediaKey": "c062e35a-c9a9-45ad-98a9-4213cdef8e8c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "36c3cae1-7b72-4487-ab8a-61f6e9c69dd9",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "68c83a4c-1e04-435e-8e98-a33dbe813593",
                        "mediaKey": "ce370950-e021-4693-9943-0aff4bf8d3f7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "1ad2b1d8-9ae2-42e3-8b8b-f0619cd1cdbe",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "79ce1a07-b16e-46fd-923e-6e9afc16d045",
                        "mediaKey": "6fb92740-77bf-4f72-8755-47154a4a742e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "b0839e89-2165-411d-9c83-b0d30bb56564",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d3aca4cb-288f-44f6-a142-859291ddba74",
                        "mediaKey": "e510d625-8348-410c-9bfd-d869ed5e3182",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "0723238a-83a3-4eaf-833e-d145beccc505",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f49ea3be-6319-4fda-a17d-1098594ef729",
                        "mediaKey": "769ba20d-6251-4a7d-b0d5-c116b8774ec4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "95948d5c-a1a1-4ce1-b5dd-1c030382f04e",
                "key": "128f75a8-4522-46c8-a7d0-c09020a958eb",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cfef5dcd-65e5-400a-a2be-d762988fa27a",
                        "mediaKey": "cdc4d1ff-0b41-40d5-9872-adccd247ab9e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "56d6e3fc-5d47-4f4a-9ad4-5bb659bc0472",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "36c3cae1-7b72-4487-ab8a-61f6e9c69dd9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1ad2b1d8-9ae2-42e3-8b8b-f0619cd1cdbe",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b0839e89-2165-411d-9c83-b0d30bb56564",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0723238a-83a3-4eaf-833e-d145beccc505",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "128f75a8-4522-46c8-a7d0-c09020a958eb",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "56d6e3fc-5d47-4f4a-9ad4-5bb659bc0472",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "36c3cae1-7b72-4487-ab8a-61f6e9c69dd9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1ad2b1d8-9ae2-42e3-8b8b-f0619cd1cdbe",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b0839e89-2165-411d-9c83-b0d30bb56564",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0723238a-83a3-4eaf-833e-d145beccc505",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "128f75a8-4522-46c8-a7d0-c09020a958eb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f91f2f6b-1a8e-426f-92c1-3e16d7614f59",
      "key": "1f234b9a-1cf3-44c1-8707-9d65bb29d277",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cem\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactSectionDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EREQUEST A CALLBACK\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactSectionBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "71e06299-56f4-43f1-85a2-b7954e2e1d6e",
              "mediaKey": "0920781b-1246-4e3e-a0a0-c5fd314eff68",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e5629c20-f074-4348-ba2b-b0a8426b34d6",
      "key": "547b7863-dca9-493f-8712-23ea79631570",
      "udi": null,
      "values": [
        {
          "alias": "contactFormOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b0c6656b-a461-4107-88a3-bd62cae2b3f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f234b9a-1cf3-44c1-8707-9d65bb29d277",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1f234b9a-1cf3-44c1-8707-9d65bb29d277",
        "contentUdi": null,
        "settingsKey": "547b7863-dca9-493f-8712-23ea79631570",
        "settingsUdi": null
      },
      {
        "contentKey": "b0c6656b-a461-4107-88a3-bd62cae2b3f7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>