<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6174974-7c23-46a3-bf00-2c690dca0d84" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b4342854-4a84-4f23-af37-f79a5f0112f4">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-02T14:34:52</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d31f4e4-d1ce-4280-84b6-d0a3749f1d47">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>