<?xml version="1.0" encoding="utf-8"?>
<Content Key="c868d4a9-17c9-40d3-a12f-4ef3d15ad80b" Alias="Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-12T20:12:18</CreateDate>
    <NodeName Default="Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>