<?xml version="1.0" encoding="utf-8"?>
<Content Key="46c8a236-36f0-46f8-bba9-44c2d2c23707" Alias="Services" Level="2">
  <Info>
    <Parent Key="b4342854-4a84-4f23-af37-f79a5f0112f4">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-02T15:29:55</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0242756-9093-4275-b8df-cbddace89f2a">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65385b4-dded-46a2-bd94-e9b227b4c0a1",
      "key": "6240cd89-a716-4cb8-9b89-0fd128752b3c",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-weight: bold; font-size: 40px; white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003C/strong\u003E\u003Cbr\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-weight: bold; font-size: 40px; white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/strong\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ef064172-8df7-41e5-bbfa-f31b27c7d886",
      "key": "9ad11125-49bf-4054-8728-61dcb3b372e5",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6240cd89-a716-4cb8-9b89-0fd128752b3c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6240cd89-a716-4cb8-9b89-0fd128752b3c",
        "contentUdi": null,
        "settingsKey": "9ad11125-49bf-4054-8728-61dcb3b372e5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>