<?xml version="1.0" encoding="utf-8"?>
<Content Key="596ca177-6b7d-4824-99c8-27c4b95a7526" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-05T14:23:48</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Klarabergsviadukten 90, 111 64 Stockholm"
}]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "sales@onatrix.com"
}]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u002B46 8 123 456 75"
}]]></Value>
    </contactPhone>
    <footer>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-primary\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to\u003C/span\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E \u003C/span\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EThemesflat\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </footer>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c938cbfe-4f9d-480d-a828-8da79ba1fa64",
      "key": "cf6efa45-90d2-40d2-94b8-5bd1b6d48101",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.facebook.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c938cbfe-4f9d-480d-a828-8da79ba1fa64",
      "key": "cbb283d0-0af8-4ab0-bb96-30ca258391c0",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.linkedin.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c938cbfe-4f9d-480d-a828-8da79ba1fa64",
      "key": "792e9155-6b3b-4ffa-8d74-ff1b49916110",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.x.com"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cf6efa45-90d2-40d2-94b8-5bd1b6d48101",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbb283d0-0af8-4ab0-bb96-30ca258391c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "792e9155-6b3b-4ffa-8d74-ff1b49916110",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cf6efa45-90d2-40d2-94b8-5bd1b6d48101",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "792e9155-6b3b-4ffa-8d74-ff1b49916110",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cbb283d0-0af8-4ab0-bb96-30ca258391c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "26ba1a00-2573-4a22-83a3-c65e3e12a06f",
    "mediaKey": "368b0491-0396-4619-b497-e394f5e2448d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onatrix"
}]]></Value>
    </siteName>
  </Properties>
</Content>